extends layout
block content
  include ../views/partials/index/statistics.jade
  include ../views/partials/index/history.jade
 
block scripts
  script(src='/javascripts/build/index.js')           
  