extends layout
block content
  h1= title
  p Welcome to #{title}
  .demo.container
    .row
      .col-md-6
        .form-group
          label Canciones
          select(id="required",multiple="multiple")
        button(data-bind="click:function(){buscar();}") Buscar

  div(id="list")
    table.table.table-striped
      thead
        tr
          th
            span #
          th
            span Nombre
          th
            span Tipo
          th 
            span Position
      tbody(data-bind='foreach:files,visible: files().length')
        tr
          td
            span(data-bind="text:$index")
          td(class="custom-tooltip")
            span(data-bind="text:name")
            spen(data-bind="text:lyrics",class="custom-tooltip-message",style="display:none;")
          td
            span(data-bind="text:tipo")
          td
            i(class="fa fa-arrow-up text-info",aria-hidden="true",data-bind="click:function(){$parent.down($data);}",style="font-size:16px;") &nbsp;&nbsp;
            i(class="fa fa-arrow-down text-info",aria-hidden="true",data-bind="click:function(){$parent.up($data);}",style="font-size:16px;")
            
    button(data-bind="click:function(){generar();}") Generar
    button(data-bind="click:function(){goToPresentation();}") Ir a presentación
    button(data-bind="click:function(){UpdateSongsStatistics();}") Update
    

block scripts
 script(src='/javascripts/list.js')