extends layout1
block css
 link(rel="stylesheet",href="/stylesheets/revealAll.css") 
block content
 .reveal
  a(href="/list",class="back") Volver
  a(href="#",id="presenter",class="back") Presentador
  .slides(data-bind='foreach:files,visible: files().length')
   section(data-markdown,class="stretch",data-separator-vertical="^\r\r",data-bind="attr:{'data-background':image}")
    textarea(data-bind="text:lyrics",data-template)
  
block scripts
 script(src="/javascripts/revealjs/lib/js/head.min.js")
 script(src="/javascripts/revealjs/js/reveal.js")
 script(src='/javascripts/build/presentation.js')
 