extends layout1
block css
 link(rel="stylesheet",href="/javascripts/revealjs/css/reveal.css")
 link(rel="stylesheet",href="/javascripts/revealjs/css/theme/white.css",id="theme")
 link(rel="stylesheet",href="/javascripts/revealjs/lib/css/zenburn.css")
 link(rel="stylesheet",href="/stylesheets/revealCustom.css")
block content
    .reveal
        a(href="/list",class="presentation_link") Volver | 
        a(href="/presentationChords",class="presentation_link") Piano | 
        a(href="/presentationChords?type=bass",class="presentation_link") Bass | 
        a(href="/presentationChords?type=guitar",class="presentation_link") Guitar
        .slides(data-bind='foreach:files,visible: files().length')
            section(data-markdown,class="stretch",data-separator-vertical="^\r\r")
                textarea(data-bind="text:chords()",data-template)
block scripts
 script(src="/javascripts/revealjs/lib/js/head.min.js")
 script(src="/javascripts/revealjs/js/reveal.js")
 script(src='/javascripts/build/presentationChords.js') 