extends layout

block content
  h1= title
  p Welcome to #{title}

  div(id="drop")
    button(data-bind="click:newItem") New
    i(class="fa fa-refresh",aria-hidden="true",data-bind="click:function(){init();}")

    table(class='table table-striped')
      thead
        tr
          th #
          th Canción
          th Tipo
          th Vista
      tbody(data-bind='foreach:files')
        tr
          td 
            span(data-bind='text:$index')
          td
            span(data-bind='text:name')
          td
            span(data-bind="text:tipo")
          td
            span(data-bind="text:views")
          td
            i(data-bind="css: getIcon()",aria-hidden="true")
          td
            button(data-bind='click:showLetra',class="btn btn-info") Letra
          td
            button(data-bind='click:showNotas',class="btn btn-success") Notas
          td
            button(data-bind='click:editSong',class="btn btn-warning") Editar

  div(id="edit",data-bind="visible:enableEdit")
    form(data-bind="with:currentFile")
      .form-group
        label Nombre
        input(name="nombre",type="text",data-bind="value:name",class="form-control")
      .form-group
        label letra
        textarea(name="letra",data-bind="value:lyrics",class="form-control")

      .form-group
        label Notas
        textarea(name="notas",data-bind="value:chords",class="form-control")
      .form-group
        lable Tipo
        select(data-bind="value:tipo")
         option(value="") seleccione
         option(value="Adoracion") Adoración
         option(value="Alabanza") Alabanza
      
      
      button(data-bind="click:Update",class="btn btn-primary") Guardar
      button(data-bind="click:Cancel",class="btn btn-danger") Cancelar
  
  div(id="new",data-bind="visible:enableNew")
    form(data-bind="with:currentFile")
      .form-group
        label Nombre
        input(name="nombre",type="text",data-bind="value:name",class="form-control")
      .form-group
        label letra
        textarea(name="letra",data-bind="value:lyrics",class="form-control")

      .form-group
        label Notas
        textarea(name="notas",data-bind="value:chords",class="form-control")
      
      button(data-bind="click:Save",class="btn btn-primary") Guardar
      button(data-bind="click:Cancel",class="btn btn-danger") Cancelar

  div(id="lyrics",data-bind="visible:enableLyrics,with:currentFile")
    div(class="form-group")
      label Letra
      textarea(name="letra",data-bind="value:lyrics",class="form-control")
    
    button(data-bind="click:Cancel",class="btn btn-danger") Cancelar

  div(id="chords",data-bind="visible:enableChords,with:currentFile")
    div(class="form-group")
      label Notas
      textarea(name="letra",data-bind="value:chords",class="form-control")
    
    button(data-bind="click:Cancel",class="btn btn-danger") Cancelar



block modal
    div(class="modal fade" id="generalMessage" tabindex="-1" role="dialog")
      div(class="modal-dialog" role="document")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
            h4(class="modal-title" id="exampleModalLabel") Cerrar
          div(class="modal-body")
            form(id="modal-message-form")
              div(class="form-group")
                label(for="recipient-name" class="control-label") Recipient:
                input(type="text" class="form-control" id="recipient-name")
              div(class="form-group")
                label(for="message-text" class="control-label") Message:
                textarea(class="form-control" id="message-text")
          div(class="modal-footer")
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
            button(type="button" class="btn btn-primary") Send message
block scripts
  script(src='/javascripts/songsPrincipal.js')