body { color:#000;}
* {
    font-weight: 900 !important;
}
.ui-dialog {
    z-index: 9999 !important;
    background-color: rgba(255,255,255,0.8);
}

.ui-dialog-titlebar {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
}
.ui-widget-header {
     border:none !important;
}
/*

.ui-dialog-titlebar button{
    float:right;
}

.ui-dialog-content {
    background-color: rgba(255,255,255,0.3);
    padding: 20px;
}*/



#lyrics textarea, #chords textarea{
  height: 320px !important;
}

textarea.form-control {
    height: 200px;
}


.history{
    color:#000 !important;
    background-color: #F9FAFD;

}

.history-row
{
        max-height: 290px;
        min-height: 290px;
}

.history-row .panel-body
{
    min-height: 218px;
}

a.presentation_link {
    z-index: 999;
    color: black;
}