/*.reveal h4 {
    margin: 20px;
    line-height: 1.3;
    background-color: rgba(255,255,255,0.8);
    padding: 25px;
}*/


.reveal p, .reveal h4 {
    /*margin: none !important;
    */
    background-color: rgba(255,255,255,0.8);
}

.reveal h4 {
    font-size: 1.0em;
    padding: 20px;
}

.reveal pre code {
    overflow: none !important;
    max-height: 900px !important;
    text-align: justify;
    background-color: #FFF;
    color: #000;
}
.hljs-keyword, .hljs-selector-tag, .hljs-tag, .hljs-built_in, .hljs-addition, .hljs-comment, .hljs-quote, .hljs-meta,.reveal pre code,.reveal code, .reveal h4 {
    color: #000;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important; 
}
a.back {
    z-index: 9999;
    color: rgba(255,255,255,0.5);
    font-size: 0.5em;
}