div(id="chords",data-bind="visible:enableChords,with:currentFile",class="overAll")
    .form-group
        label Notas
        textarea(name="letra",data-bind="value:chords",class="form-control")
    button(data-bind="click:Cancel",class="btn btn-danger") Cancelar
