div(id="lyrics",data-bind="visible:enableLyrics,with:currentFile")
    .form-group
        label Letra
        textarea(name="letra",data-bind="value:lyrics",class="form-control")
    button(data-bind="click:Cancel",class="btn btn-danger") Cancelar